<div style="border:1px solid #000000;margin:10px 10px;padding:15px;">
	<p style="background-color:#ffffff;color:#555555;font-size:14px;">
		<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:16px;">{{lastTwo filingDate.year}}APCC{{zeroFill caseNumber 5}}</span></span>
	</p>

	<p style="background-color:#fafafa;color:#555555;font-size:14px;">
		<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:16px;"><em>{{caseName}}</em></span></span>
	</p>

	<div align="center" style="background-color:#fafafa;color:#555555;font-size:14px;">
		<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;border-style:none;border-width:medium;">
			<tbody>
				<tr>
					<td rowspan="14" style="border-style:none;border-width:medium;padding:0in 5.4pt;" valign="top" width="638">
						<p align="center" style="background-color:#ffffff;color:#555555;font-size:14px;text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:28px;"><strong>𝕴𝖓 𝖙𝖍𝖊 𝕾𝖊𝖈𝖔𝖓𝖉&nbsp;<br>
							𝕮𝖔𝖚𝖗𝖙 𝖔𝖋 𝕬𝖕𝖕𝖊𝖆𝖑</strong></span></span>
						</p>

						<p align="center" style="background-color:#ffffff;color:#555555;font-size:14px;text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><strong>OF&nbsp;THE STATE<strong>&nbsp;</strong>OF SAN ANDREAS</strong></span></span>
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="color:#000000;font-size:12pt;">&nbsp;</span></span>
						</p>

						<div align="center" style="text-align:center;">
							<hr align="center" noshade="noshade" size="1" style="color:#000000;" width="20%">
						</div>

						<p align="center" style="text-align:center;">
							&nbsp;
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;">No. {{lastTwo filingDate.year}}APCC{{zeroFill caseNumber 5}}</span></span></span>
						</p>

						<p align="center" style="text-align:center;">
							&nbsp;
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;font-weight:bold;text-transform:uppercase;color:#000000;">{{appellantDisplay}}</span></span>
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><i><span style="color:#000000;">{{appellantRole}},</span></i></span><i><span style="color:#000000;font-size:12pt;">&nbsp;</span></i></span>
						</p>

						<p align="center" style="text-align:center;">
							&nbsp;
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;">v.</span></span></span>
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;">&nbsp;</span></span></span>
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;font-weight:bold;text-transform:uppercase;color:#000000;">{{respondentDisplay}}</span></span>
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><i><span style="color:#000000;">{{respondentRole}}.</span></i></span></span>
						</p>

						<div align="center" style="text-align:center;">
							&nbsp;
						</div>

						<div align="center" style="text-align:center;">
							<hr align="center" noshade="noshade" size="1" style="color:#000000;" width="20%">
						</div>

						<p align="center" style="text-align:center;">
							&nbsp;
						</p>

						<p style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><font color="#000000"><span style="font-size:18px;">{{appealType}}</span></font></span>
						</p>

						<p style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><font color="#000000"><span style="font-size:18px;">of {{trialCourt}},</span></font></span>
						</p>

						<p style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><font color="#000000"><span style="font-size:18px;">Hon. {{trialJudge}}, Judge</span></font></span>
						</p>

						<p>
							&nbsp;
						</p>

						<div align="center" style="text-align:center;">
							<hr align="center" noshade="noshade" size="1" style="color:#000000;" width="20%">
						</div>

						<p align="center" style="text-align:center;">
							&nbsp;
						</p>

						<p align="center" style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><font color="#000000"><span style="font-size:18px;"><b>{{briefType}}</b></span></font></span>
						</p>

						<p align="center" style="text-align:center;">
							&nbsp;
						</p>

						<div align="center" style="text-align:center;">
							<hr align="center" noshade="noshade" size="1" style="color:#000000;" width="20%">
						</div>

						<div align="center" style="text-align:center;">
							&nbsp;
						</div>
					</td>
					<td height="58" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td height="20" style="border-style:none;border-width:medium;" width="0">
						&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div align="center" style="background-color:#fafafa;color:#555555;font-size:14px;">
		<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;border-style:none;border-width:medium;">
			<tbody>
				<tr>
					<td style="padding:0in 0.25in;" valign="top" width="721">
						<p style="text-align:center;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><strong><span style="color:#000000;">To the Honorable Justices of the Second Court of Appeal of the State of San Andreas</span></strong></span></span>
						</p>

						{{#each sections}}
						<p style="text-align:justify;">
							&nbsp;
						</p>

						<p style="text-align:justify;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;"><strong>{{toRoman (math @index "+" 1)}}.&nbsp;&nbsp;{{title}}</strong></span></span></span>
						</p>

						<p style="text-align:justify;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;">&nbsp; &nbsp; &nbsp; &nbsp; {{{nl2br body}}}</span></span></span>
						</p>
						{{/each}}

						<p style="text-align:justify;">
							&nbsp;
						</p>

						<p style="text-align:justify;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;"><strong>{{conclusionRoman}}.&nbsp;&nbsp;CONCLUSION</strong></span></span></span>
						</p>

						<p style="text-align:justify;">
							<span style="font-family:'Times New Roman', Times, serif;"><span style="font-size:18px;"><span style="color:#000000;">&nbsp; &nbsp; &nbsp; &nbsp; {{{nl2br conclusion}}}</span></span></span>
						</p>

						<p style="text-align:justify;">
							&nbsp;
						</p>

						<p>
							Respectfully Submitted on the <u>{{getOrdinal filingDate.day}}</u> day of <u>{{filingDate.month}}</u>, <u>{{filingDate.year}}</u>.
						</p>

						<p>
							&nbsp;
						</p>

						<p style="font-size:14px;text-align:right;">
							<span><u><span style="font-size:16px; text-transform:uppercase"><em>/s/&nbsp;</em>{{undersigned.name}}</span></u></span>
						</p>

						<p style="font-size:14px;text-align:right;">
							<span style="font-size:16px;">{{undersigned.name}}</span>
						</p>

						<p style="font-size:13px;text-align:right;">
							<span><span style="font-size:16px;">San Andreas State Bar No. {{undersigned.stateBar}}</span></span>
						</p>

						{{#if undersigned.showFirm}}
						<p style="font-size:13px;text-align:right;">
							<span><span style="font-size:16px;">{{undersigned.firm}}</span></span>
						</p>

						{{#if undersigned.showAddress}}
						<p style="font-size:13px;text-align:right;">
							<span><span style="font-size:16px;">{{undersigned.address}}</span></span>
						</p>
						{{/if}}
						{{/if}}

						<p style="font-size:13px;text-align:right;">
							<span><span style="font-size:16px;">{{undersigned.role}}</span></span>
						</p>

						<p style="font-size:13px;">
							(( Tag Involved Parties Here ))
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div align="center" style="background-color:#fafafa;color:#555555;font-size:14px;">
		<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;border-style:none;border-width:medium;">
			<tbody>
				<tr>
					<td style="padding:0in 1in;" valign="top" width="721">
						<p style="text-align:justify;">
							&nbsp;
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<p style="background-color:#fafafa;color:#555555;font-size:14px;">
		&nbsp;
	</p>
</div>
