<div align="center" style="background-color:#17181f;color:#cbcbcb;font-size:14px;">
	<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;border:none;">
		<tbody>
			<tr>
				<td rowspan="14" style="border:none;padding:0in 5.4pt;" valign="top" width="638">
					<div align="center" style="text-align:center;">
						<p style="background-color:rgb(255,255,255);color:rgb(85,85,85);font-size:14px;text-align:center;">
							<span style="font-size:28px;">SUPERIOR COURT | {{divisionLabel}}</span>
						</p>

						<p style="background-color:rgb(255,255,255);color:rgb(85,85,85);font-size:14px;text-align:center;">
							<span style="font-size:28px;">STATE OF SAN ANDREAS</span>
						</p>

						<p style="background-color:rgb(255,255,255);color:rgb(85,85,85);font-size:14px;text-align:center;">
							<span style="font-size:22px;">COUNTY OF LOS SANTOS</span>
						</p>

						<p align="right" style="background-color:#ffffff;color:#555555;font-size:14px;text-align:right;">
							&nbsp;
						</p>

						<p align="right" style="background-color:#ffffff;color:#555555;font-size:14px;text-align:right;">
							<span><span style="font-size:20px;">&nbsp; &nbsp;</span></span>
						</p>

						<div align="center" style="background-color:#ffffff;color:#555555;font-size:14px;">
							<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;">
								<tbody>
									<tr>
										<td style="border-bottom:1pt solid;border-left:none;border-right:1pt solid;border-top:none;padding:0in 5.4pt;" valign="top" width="302">
											<p>
												<span><span style="font-size:20px;">&nbsp;</span></span>
											</p>

											<p>
												<span><span style="font-size:20px;text-transform:uppercase;"><b>{{plaintiff}},</b></span></span>
											</p>

											<p style="text-align:right;">
												<span><span style="font-size:20px;"><b>Plaintiff</b></span></span>
											</p>

											<p style="text-align:center;">
												&nbsp;
											</p>

											<p style="text-align:center;">
												<span><span style="font-size:20px;"><b>-versus-</b></span></span>
											</p>

											<p style="text-align:center;">
												&nbsp;
											</p>

											{{#each defendants}}
											<p>
												<span><span style="font-size:20px;text-transform:uppercase;"><b>{{this.name}},</b></span></span>
											</p>
											{{/each}}

											<p style="text-align:right;">
												<span><span style="font-size:20px;"><b>{{defendantLabel}}.</b></span></span><br>
												<br>
												&nbsp;
											</p>
										</td>
										<td style="padding:0in 5.4pt;" valign="top" width="302">
											<p>
												<span><span style="font-size:20px;">&nbsp;</span></span>
											</p>

											<p dir="ltr">&nbsp;</p>
											<p dir="ltr">&nbsp;</p>
											<p dir="ltr">&nbsp;</p>
											<p dir="ltr">&nbsp;</p>

											<p dir="ltr" style="text-align:center;">
												&nbsp;
											</p>

											<p dir="ltr" style="text-align:center;">
												<span><span style="font-size:20px;"><b><span style="vertical-align:baseline;">Case No. [{{lastTwo filingDate.year}}GJ{{#if isCriminal}}CR{{else}}CC{{/if}}{{zeroFill caseNumber 5}}]</span><br>
												<span style="vertical-align:baseline;">&nbsp;</span></b></span></span>
											</p>

											<p dir="ltr">
												<span><span style="font-size:20px;"><b><span style="vertical-align:baseline;">&nbsp;</span></b></span></span>
											</p>

											<p dir="ltr"><br>&nbsp;</p>

											<p dir="ltr" style="text-align:center;">&nbsp;</p>

											<p dir="ltr" style="text-align:center;">
												<span><span style="font-size:20px;"><b><span style="vertical-align:baseline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></b></span></span>
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</td>
				<td height="58" style="border:none;" width="0">&nbsp;</td>
			</tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
			<tr><td height="20" style="border:none;" width="0">&nbsp;</td></tr>
		</tbody>
	</table>
</div>

<div align="center" style="background-color:#17181f;color:#cbcbcb;font-size:14px;">
	<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;border:none;">
		<tbody>
			<tr>
				<td style="padding:0in 0.25in;" valign="top" width="721">
					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:center;">
						&nbsp;
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:center;">
						<u><strong><span style="font-size:20px;text-transform:uppercase;">NOTICE OF APPEARANCE FOR {{attorney.name}}</span></strong></u>
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:center;">
						<u><strong><span style="font-size:20px;text-transform:uppercase;">AS COUNSEL OF RECORD FOR {{client.name}}</span></strong></u>
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						&nbsp;
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						<span><span style="font-size:18px;"><strong>PLEASE TAKE NOTICE THAT </strong>{{attorney.name}}{{#if attorney.showFirm}} of <em>{{attorney.firm}}</em>{{/if}}, who is permitted to practice in this state, hereby enters their appearance as counsel of record on behalf of {{client.title}}, <strong>{{#if client.honorific}}{{client.honorific}} {{/if}}{{client.name}}</strong>. Counsel requests that all pleadings, motions, correspondence, and otherwise, be filed or served to the undersigned at the address provided below, <em>sub poena nullitatis</em>.</span></span>
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						&nbsp;
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						<span><span style="font-size:18px;">Respectfully submitted,</span></span>
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						<span style="font-size:22px;text-transform:uppercase;"><em>{{attorney.name}}</em></span>
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						<span style="text-transform:uppercase;">{{filingDate.month}} {{getOrdinal filingDate.day}} {{filingDate.year}}</span>
					</p>

					<p style="background-color:#17181f;color:#cbcbcb;font-size:14px;text-align:justify;">
						<span style="font-size:14px;text-transform:uppercase;">{{attorney.address}}</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
