<table align="center" border="0" cellpadding="3" cellspacing="2" style="background-color:#ffffff; border-collapse:collapse; border-spacing:0px; color:#353c41; font-size:14px; text-align:start">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="3" cellspacing="2" style="border-collapse:collapse; border-spacing:0px; color:#353c41; font-size:14px">
					<tbody>
						<tr>
							<td style="text-align:right">
								<table align="center" border="0" cellpadding="3" cellspacing="2" style="border-collapse:collapse; border-spacing:0px; color:#353c41; font-size:14px">
									<tbody>
										<tr>
											<td>
												<p style="text-align:center">
													<span><strong><span style="font-size:28px">SUPERIOR&nbsp;COURT OF THE STATE OF SAN ANDREAS</span></strong></span>
												</p>

												<p style="text-align:center">
													<span><strong><span style="font-size:28px">COUNTY OF LOS SANTOS</span></strong></span>
												</p>

												<p style="text-align:center">
													<span><span style="font-size:28px">CRIMINAL DIVISION</span></span>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
								<span><span style="text-align:left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</span></span>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<span><a href="https://i.ibb.co/zQMVtSr/150x150court.png" rel="external nofollow" style="background-color:transparent; color:#ffffff" target="_blank" title="Enlarge image"><img alt="150x150court.png" data-ratio="100.00" src="https://i.ibb.co/zQMVtSr/150x150court.png" style="border-style:none; vertical-align:middle" width="150"></a></span>
			</td>
		</tr>
	</tbody>
</table>

<hr style="background-color:#ffffff;color:#555555;font-size:13px;">
<table align="center" border="0" cellpadding="3" cellspacing="2" style="background-color:#ffffff;border-collapse:collapse;border-color:#545b5e;border-spacing:0px;color:#353c41;font-size:14px;">
	<tbody>
		<tr>
			<td>
				<div style="border:1px solid #000000;padding:15px;">
					<p>
						<span><span style="color:#000000;"><span style="text-align:left;">THE PEOPLE OF</span></span></span>
					</p>

					<p>
						<span><span style="color:#000000;"><span style="text-align:left;">THE STATE OF SAN ANDREAS</span></span></span>
					</p>

					<p>
						<span><span style="color:#000000;"><strong><span style="text-align:left;">(Plaintiff)</span></strong></span></span><br>
						&nbsp;
					</p>

					<p>
						<span><span style="color:#000000;"><span style="text-align:left;">- against -&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></span><br>
						<br>
						{{defendant.name}}
					</p>

					<p>
						<span><span style="color:#000000;"><strong><span style="text-align:left;">(Defendant)</span></strong></span></span>
					</p>
				</div>
			</td>
			<td>
				<span><span style="color:#000000;"><span style="text-align:left;">)<br>
				)<br>
				)<br>
				)<br>
				)<br>
				)<br>
				)<br>
				)</span></span></span>
			</td>
			<td>
				<p style="text-align:center;">
					<span><span style="color:#000000;">Court File: {{lastTwo fillingDate.year}}GJCR{{zeroFill fillingNumber 5}}</span></span>
				</p>

				<p style="text-align:center;">
					&nbsp;
				</p>

				<div style="background-color:#ffffff;border:1px solid #000000;padding:15px;">
					<p style="text-align:center;">
						<span><font color="#000000"><b>EXPUNGEMENT</b></font></span>
					</p>
				</div>

				<p style="text-align:center;">
					&nbsp;
				</p>

				<p style="text-align:center;">
					<span><span style="color:#000000;"><em>Action Filed: {{fillingDate.month}} {{getOrdinal fillingDate.day}}, {{fillingDate.year}}</em></span></span>
				</p>

				<p style="text-align:center;">
					&nbsp;
				</p>
			</td>
		</tr>
	</tbody>
</table>

<hr style="background-color:#ffffff;color:#555555;font-size:13px;">
<p style="background-color:#ffffff;color:#555555;font-size:13px;text-align:center;">
	<span><span style="font-size:16px;"><span style="color:#000000;"><strong>I. CHARGES</strong></span></span></span>
</p>

<p style="background-color:#ffffff;color:#555555;font-size:13px;">
	<span style="font-size: 14px;">By decree of the State of San Andreas&nbsp;and enforcement&nbsp;authority of the San Andreas State Constitution,&nbsp;</span>{{defendant.name}}&nbsp;<span style="font-size: 14px;">was&nbsp;arrested by a law enforcement entity of the state and convicted in a state court, the following charges are asked by the petitioner to be expunged;</span>
</p>

<p style="background-color:#ffffff;color:#555555;font-size:13px;text-align:center;">
	&nbsp;
</p>

<table align="center" border="0" cellpadding="3" cellspacing="2" style="background-color:#ffffff;border-collapse:collapse;border-color:#545b5e;border-spacing:0px;color:#353c41;font-size:14px;">
	<tbody>
		<tr>
			<td>
				<table align="center" border="0" cellpadding="3" cellspacing="2" style="border-collapse:collapse;border-color:#545b5e;border-spacing:0px;color:#353c41;font-size:14px;">
					<tbody>
						<tr>
							<td>
								<p style="text-align:center;">
									<span><span style="font-size:14px;"><span style="color:#000000;"><strong>COUNT</strong></span></span></span>
								</p>

                                {{#each counts}}
								<p style="text-align:center;">
									<span><span style="font-size:14px;"><span style="color:#000000;">{{math @index "+" 1}}</span></span></span>
								</p>
                                {{/each}}
							</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				<p style="text-align:center;">
					<span><span style="font-size:14px;"><span style="color:#000000;"><strong>OFFENSE</strong></span></span></span>
				</p>

				<p style="text-align:center;">
					<span style="color:#000000;"><span>{{#each counts}}{{this}}<br>{{/each}}</span></span>
				</p>
			</td>
			<td>
				<p>
					&nbsp;
				</p>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>

<hr style="background-color:#ffffff;color:#555555;font-size:13px;">
<p style="background-color:#ffffff;color:#555555;font-size:13px;text-align:center;">
	<span><span style="font-size:16px;"><span style="color:#000000;"><strong>II. MOTION</strong></span></span></span>
</p>

<p style="background-color:#ffffff;color:#555555;font-size:13px;text-align:center;">
	&nbsp;
</p>

<p style="background-color:#fafafa;color:#555555;font-size:14px;">
	The petitioner believes the above charges should be expunged on the following grounds:&nbsp;
</p>

<p style="background-color:#fafafa;color:#555555;font-size:14px;">
	&nbsp;
</p>

<p>
	{{motion}}
</p>

<p style="background-color:#ffffff;color:#555555;font-size:13px;">
	&nbsp;
</p>

<hr style="background-color:#ffffff;color:#555555;font-size:13px;">
<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:center">
	<span><span style="font-size:20px"><b>Verification</b></span></span>
</p>

<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:center">
	&nbsp;
</p>

<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:start">
	&nbsp;
</p>

<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:justify">
	<span>I, the undersigned, hereby declare under penalty of perjury under the laws of the State of San Andreas that the foregoing is true and correct to the best of my knowledge. Signed on the<span>&nbsp;</span><u>{{getOrdinal fillingDate.day}}</u><span>&nbsp;</span>day of<span>&nbsp;</span><u>{{fillingDate.month}}</u>, {{fillingDate.year}}.</span><br>
	&nbsp;
</p>

<p style="background-color:#ffffff; color:#555555; font-size:14px; text-align:right">
	<span><u><span style="font-size:16px"><em>/s/&nbsp;</em>{{prosecutor.name}}</span></u></span>
</p>

<p style="background-color:#ffffff; color:#555555; font-size:14px; text-align:right">
	<span style="font-size:16px;">{{prosecutor.name}}</span>
</p>

<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:right">
	<span><span style="font-size:16px">San Andreas State Bar No. {{prosecutor.stateBar}}</span></span>
</p>

<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:right">
	<span><span style="font-size:16px">{{prosecutor.title}}</span></span>
</p>

<p style="background-color:#ffffff; color:#555555; font-size:13px; text-align:right">
	<span><span style="font-size:16px">Los Santos County District Attorney&#39;s Office</span></span>
</p>

<p>
	<br>
	(( Tag Defendant Here ))
</p>
